

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.service {
  position: relative;
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  height: fit-content;
  transition: var(--transition);
}

.service::before, .service::after {
  content: '';
  position: absolute;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--rw-1),
    var(--rw-2),
    var(--rw-3),
    var(--rw-4),
    var(--rw-5),
    var(--rw-6),
    var(--rw-7),
    var(--rw-8));
  z-index: -1;
  border-radius: inherit;
}

.service::after {
  filter: blur(.5rem);
}

.service:hover{
  background: var(--color-bg);
  cursor: default;
} 

.service:hover::before, .service:hover::after {
  inset: -.1rem -.1rem -.07rem -.1rem;
  animation: rotation 4s linear infinite;
}

@keyframes rotation {
  0% {--gradient-angle: 0deg;}
  100% {--gradient-angle: 360deg;}
}


.service__head{
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.service__list{
  padding: 2rem;
}

.service__list li{
  display: flex;
  gap: 1rem;
  margin-bottom: .8rem;
} 

.service__list-icon{
  color: var(--color-primary);
  margin-top: 2px;
}

.service__list p {
  font-size: .9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* width: 80%; */
  }

  .service {
    height: auto;
  
  }

}

/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {

  .services__container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}