

.vcard-container{
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.test__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #161b22;
  margin: 1rem auto;
  border-radius: .75rem 8px;
  text-align: center;
}

.test__card > h3{
  margin: 4rem 1rem 2rem 2.1rem;
  color: var(--color-text-test-2);
  text-align: left;
  
}

.test__card > img{
  border-radius: .75rem 8px;
  align-self: flex-end;
}





em {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: var(--color-text);
}

/* ============= MEDIA QUERIES ============ */

@media screen and (min-width: 1012px) {
  .vcard > p {
    padding-top: var(--base-size-64, 64px); 
    padding-bottom: var(--base-size-64, 64px);
    padding-right: var(--base-size-128, 128px);
    padding-left: var(--base-size-64, 64px);
}
}
@media screen and (min-width: 768px) {
  
  .vcard-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  

}

@media sceen and (min-width: 544px) {
  .vcard > p {
    padding: 2.5rem;
  }
}


