:root {
  --github-com-inter-bold-16-font-family: "Inter-Bold", Helvetica;
  --github-com-inter-bold-16-font-size: 16px;
  --github-com-inter-bold-16-font-style: normal;
  --github-com-inter-bold-16-font-weight: 700;
  --github-com-inter-bold-16-letter-spacing: 0px;
  --github-com-inter-bold-16-line-height: 16px;
  --github-com-inter-extra-bold-31-5-font-family: "Inter-ExtraBold", Helvetica;
  --github-com-inter-extra-bold-31-5-font-size: 31.5px;
  --github-com-inter-extra-bold-31-5-font-style: normal;
  --github-com-inter-extra-bold-31-5-font-weight: 800;
  --github-com-inter-extra-bold-31-5-letter-spacing: -0.3199999928474426px;
  --github-com-inter-extra-bold-31-5-line-height: 36px;
  --github-com-inter-extra-bold-32-font-family: "Inter-ExtraBold", Helvetica;
  --github-com-inter-extra-bold-32-font-size: 32px;
  --github-com-inter-extra-bold-32-font-style: normal;
  --github-com-inter-extra-bold-32-font-weight: 800;
  --github-com-inter-extra-bold-32-letter-spacing: -0.3199999928474426px;
  --github-com-inter-extra-bold-32-line-height: 36px;
  --github-com-inter-extra-bold-63-font-family: "Inter-ExtraBold", Helvetica;
  --github-com-inter-extra-bold-63-font-size: 63px;
  --github-com-inter-extra-bold-63-font-style: normal;
  --github-com-inter-extra-bold-63-font-weight: 800;
  --github-com-inter-extra-bold-63-letter-spacing: -1.9199999570846558px;
  --github-com-inter-extra-bold-63-line-height: 68px;
  --github-com-inter-extra-bold-64-font-family: "Inter-ExtraBold", Helvetica;
  --github-com-inter-extra-bold-64-font-size: 64px;
  --github-com-inter-extra-bold-64-font-style: normal;
  --github-com-inter-extra-bold-64-font-weight: 800;
  --github-com-inter-extra-bold-64-letter-spacing: -1.9199999570846558px;
  --github-com-inter-extra-bold-64-line-height: 68px;
  --github-com-inter-medium-14-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-14-font-size: 14.000001907348633px;
  --github-com-inter-medium-14-font-style: normal;
  --github-com-inter-medium-14-font-weight: 500;
  --github-com-inter-medium-14-letter-spacing: 0px;
  --github-com-inter-medium-14-line-height: 20px;
  --github-com-inter-medium-15-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-15-font-size: 15px;
  --github-com-inter-medium-15-font-style: normal;
  --github-com-inter-medium-15-font-weight: 500;
  --github-com-inter-medium-15-letter-spacing: 0px;
  --github-com-inter-medium-15-line-height: 0px;
  --github-com-inter-medium-16-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-16-font-size: 16px;
  --github-com-inter-medium-16-font-style: normal;
  --github-com-inter-medium-16-font-weight: 500;
  --github-com-inter-medium-16-letter-spacing: 0px;
  --github-com-inter-medium-16-line-height: 24px;
  --github-com-inter-medium-18-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-18-font-size: 18px;
  --github-com-inter-medium-18-font-style: normal;
  --github-com-inter-medium-18-font-weight: 500;
  --github-com-inter-medium-18-letter-spacing: 0px;
  --github-com-inter-medium-18-line-height: 0px;
  --github-com-inter-medium-19-84-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-19-84-font-size: 19.84375px;
  --github-com-inter-medium-19-84-font-style: normal;
  --github-com-inter-medium-19-84-font-weight: 500;
  --github-com-inter-medium-19-84-letter-spacing: 0px;
  --github-com-inter-medium-19-84-line-height: 28px;
  --github-com-inter-medium-20-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-20-font-size: 20px;
  --github-com-inter-medium-20-font-style: normal;
  --github-com-inter-medium-20-font-weight: 500;
  --github-com-inter-medium-20-letter-spacing: 0px;
  --github-com-inter-medium-20-line-height: 28px;
  --github-com-inter-medium-23-81-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-23-81-font-size: 23.8125px;
  --github-com-inter-medium-23-81-font-style: normal;
  --github-com-inter-medium-23-81-font-weight: 500;
  --github-com-inter-medium-23-81-letter-spacing: 0px;
  --github-com-inter-medium-23-81-line-height: 32px;
  --github-com-inter-medium-24-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-24-font-size: 24px;
  --github-com-inter-medium-24-font-style: normal;
  --github-com-inter-medium-24-font-weight: 500;
  --github-com-inter-medium-24-letter-spacing: 0px;
  --github-com-inter-medium-24-line-height: 32px;
  --github-com-inter-medium-27-45-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-27-45-font-size: 27.453125px;
  --github-com-inter-medium-27-45-font-style: normal;
  --github-com-inter-medium-27-45-font-weight: 500;
  --github-com-inter-medium-27-45-letter-spacing: -0.2800000011920929px;
  --github-com-inter-medium-27-45-line-height: 32px;
  --github-com-inter-medium-28-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-28-font-size: 28px;
  --github-com-inter-medium-28-font-style: normal;
  --github-com-inter-medium-28-font-weight: 500;
  --github-com-inter-medium-28-letter-spacing: -0.2800000011920929px;
  --github-com-inter-medium-28-line-height: 32px;
  --github-com-inter-medium-40-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-40-font-size: 40px;
  --github-com-inter-medium-40-font-style: normal;
  --github-com-inter-medium-40-font-weight: 500;
  --github-com-inter-medium-40-letter-spacing: -0.4000000059604645px;
  --github-com-inter-medium-40-line-height: 44px;
  --github-com-inter-medium-47-81-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-47-81-font-size: 47.8125px;
  --github-com-inter-medium-47-81-font-style: normal;
  --github-com-inter-medium-47-81-font-weight: 500;
  --github-com-inter-medium-47-81-letter-spacing: -1.440000057220459px;
  --github-com-inter-medium-47-81-line-height: 52px;
  --github-com-inter-medium-48-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-48-font-size: 48px;
  --github-com-inter-medium-48-font-style: normal;
  --github-com-inter-medium-48-font-weight: 500;
  --github-com-inter-medium-48-letter-spacing: -1.440000057220459px;
  --github-com-inter-medium-48-line-height: 52px;
  --github-com-inter-medium-72-font-family: "Inter-Medium", Helvetica;
  --github-com-inter-medium-72-font-size: 72px;
  --github-com-inter-medium-72-font-style: normal;
  --github-com-inter-medium-72-font-weight: 500;
  --github-com-inter-medium-72-letter-spacing: -2.1600000858306885px;
  --github-com-inter-medium-72-line-height: 76px;
  --github-com-inter-regular-10-5-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-10-5-font-size: 10.5px;
  --github-com-inter-regular-10-5-font-style: normal;
  --github-com-inter-regular-10-5-font-weight: 400;
  --github-com-inter-regular-10-5-letter-spacing: 0px;
  --github-com-inter-regular-10-5-line-height: 0px;
  --github-com-inter-regular-12-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-12-font-size: 12px;
  --github-com-inter-regular-12-font-style: normal;
  --github-com-inter-regular-12-font-weight: 400;
  --github-com-inter-regular-12-letter-spacing: 0px;
  --github-com-inter-regular-12-line-height: 18px;
  --github-com-inter-regular-13-13-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-13-13-font-size: 13.125px;
  --github-com-inter-regular-13-13-font-style: normal;
  --github-com-inter-regular-13-13-font-weight: 400;
  --github-com-inter-regular-13-13-letter-spacing: 0px;
  --github-com-inter-regular-13-13-line-height: 21px;
  --github-com-inter-regular-13-89-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-13-89-font-size: 13.890625px;
  --github-com-inter-regular-13-89-font-style: normal;
  --github-com-inter-regular-13-89-font-weight: 400;
  --github-com-inter-regular-13-89-letter-spacing: 0px;
  --github-com-inter-regular-13-89-line-height: 24px;
  --github-com-inter-regular-13-89-underline-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-13-89-underline-font-size: 13.890625px;
  --github-com-inter-regular-13-89-underline-font-style: normal;
  --github-com-inter-regular-13-89-underline-font-weight: 400;
  --github-com-inter-regular-13-89-underline-letter-spacing: 0px;
  --github-com-inter-regular-13-89-underline-line-height: 21px;
  --github-com-inter-regular-14-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-14-font-size: 14px;
  --github-com-inter-regular-14-font-style: normal;
  --github-com-inter-regular-14-font-weight: 400;
  --github-com-inter-regular-14-letter-spacing: 0px;
  --github-com-inter-regular-14-line-height: 21px;
  --github-com-inter-regular-15-75-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-15-75-font-size: 15.75px;
  --github-com-inter-regular-15-75-font-style: normal;
  --github-com-inter-regular-15-75-font-weight: 400;
  --github-com-inter-regular-15-75-letter-spacing: 0px;
  --github-com-inter-regular-15-75-line-height: 24px;
  --github-com-inter-regular-16-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-16-font-size: 16px;
  --github-com-inter-regular-16-font-style: normal;
  --github-com-inter-regular-16-font-weight: 400;
  --github-com-inter-regular-16-letter-spacing: 0px;
  --github-com-inter-regular-16-line-height: normal;
  --github-com-inter-regular-19-69-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-19-69-font-size: 19.6875px;
  --github-com-inter-regular-19-69-font-style: normal;
  --github-com-inter-regular-19-69-font-weight: 400;
  --github-com-inter-regular-19-69-letter-spacing: 0px;
  --github-com-inter-regular-19-69-line-height: 28px;
  --github-com-inter-regular-19-84-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-19-84-font-size: 19.84375px;
  --github-com-inter-regular-19-84-font-style: normal;
  --github-com-inter-regular-19-84-font-weight: 400;
  --github-com-inter-regular-19-84-letter-spacing: 0px;
  --github-com-inter-regular-19-84-line-height: 28px;
  --github-com-inter-regular-20-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-20-font-size: 20px;
  --github-com-inter-regular-20-font-style: normal;
  --github-com-inter-regular-20-font-weight: 400;
  --github-com-inter-regular-20-letter-spacing: 0px;
  --github-com-inter-regular-20-line-height: 28px;
  --github-com-inter-regular-23-81-font-family: "Inter-Regular", Helvetica;
  --github-com-inter-regular-23-81-font-size: 23.8125px;
  --github-com-inter-regular-23-81-font-style: normal;
  --github-com-inter-regular-23-81-font-weight: 400;
  --github-com-inter-regular-23-81-letter-spacing: 0px;
  --github-com-inter-regular-23-81-line-height: 32px;
  --github-com-inter-semi-bold-12-font-family: "Inter-SemiBold", Helvetica;
  --github-com-inter-semi-bold-12-font-size: 12px;
  --github-com-inter-semi-bold-12-font-style: normal;
  --github-com-inter-semi-bold-12-font-weight: 600;
  --github-com-inter-semi-bold-12-letter-spacing: 0px;
  --github-com-inter-semi-bold-12-line-height: 20px;
  --github-com-inter-semi-bold-16-font-family: "Inter-SemiBold", Helvetica;
  --github-com-inter-semi-bold-16-font-size: 16px;
  --github-com-inter-semi-bold-16-font-style: normal;
  --github-com-inter-semi-bold-16-font-weight: 600;
  --github-com-inter-semi-bold-16-letter-spacing: 0px;
  --github-com-inter-semi-bold-16-line-height: 24px;
  --github-com-inter-semi-bold-20-font-family: "Inter-SemiBold", Helvetica;
  --github-com-inter-semi-bold-20-font-size: 20px;
  --github-com-inter-semi-bold-20-font-style: normal;
  --github-com-inter-semi-bold-20-font-weight: 600;
  --github-com-inter-semi-bold-20-letter-spacing: 0px;
  --github-com-inter-semi-bold-20-line-height: 28px;
  --github-com-inter-semi-bold-57-6-font-family: "Inter-SemiBold", Helvetica;
  --github-com-inter-semi-bold-57-6-font-size: 57.599998474121094px;
  --github-com-inter-semi-bold-57-6-font-style: normal;
  --github-com-inter-semi-bold-57-6-font-weight: 600;
  --github-com-inter-semi-bold-57-6-letter-spacing: -0.47999998927116394px;
  --github-com-inter-semi-bold-57-6-line-height: 52px;
  --github-com-inter-semi-bold-96-font-family: "Inter-SemiBold", Helvetica;
  --github-com-inter-semi-bold-96-font-size: 96px;
  --github-com-inter-semi-bold-96-font-style: normal;
  --github-com-inter-semi-bold-96-font-weight: 600;
  --github-com-inter-semi-bold-96-letter-spacing: -0.800000011920929px;
  --github-com-inter-semi-bold-96-line-height: 80px;
  --github-com-noto-sans-bold-16-font-family: "NotoSans-Bold", Helvetica;
  --github-com-noto-sans-bold-16-font-size: 16px;
  --github-com-noto-sans-bold-16-font-style: normal;
  --github-com-noto-sans-bold-16-font-weight: 700;
  --github-com-noto-sans-bold-16-letter-spacing: 0px;
  --github-com-noto-sans-bold-16-line-height: 16px;
  --github-com-noto-sans-display-regular-12-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-12-font-size: 12px;
  --github-com-noto-sans-display-regular-12-font-style: normal;
  --github-com-noto-sans-display-regular-12-font-weight: 400;
  --github-com-noto-sans-display-regular-12-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-12-line-height: 18px;
  --github-com-noto-sans-display-regular-13-67-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-13-67-font-size: 13.671875px;
  --github-com-noto-sans-display-regular-13-67-font-style: normal;
  --github-com-noto-sans-display-regular-13-67-font-weight: 400;
  --github-com-noto-sans-display-regular-13-67-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-13-67-line-height: 17.5px;
  --github-com-noto-sans-display-regular-13-78-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-13-78-font-size: 13.78125px;
  --github-com-noto-sans-display-regular-13-78-font-style: normal;
  --github-com-noto-sans-display-regular-13-78-font-weight: 400;
  --github-com-noto-sans-display-regular-13-78-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-13-78-line-height: 17.5px;
  --github-com-noto-sans-display-regular-13-89-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-13-89-font-size: 13.890625px;
  --github-com-noto-sans-display-regular-13-89-font-style: normal;
  --github-com-noto-sans-display-regular-13-89-font-weight: 400;
  --github-com-noto-sans-display-regular-13-89-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-13-89-line-height: 17.5px;
  --github-com-noto-sans-display-regular-14-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-14-font-size: 14px;
  --github-com-noto-sans-display-regular-14-font-style: normal;
  --github-com-noto-sans-display-regular-14-font-weight: 400;
  --github-com-noto-sans-display-regular-14-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-14-line-height: 17.5px;
  --github-com-noto-sans-display-regular-15-88-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-15-88-font-size: 15.875px;
  --github-com-noto-sans-display-regular-15-88-font-style: normal;
  --github-com-noto-sans-display-regular-15-88-font-weight: 400;
  --github-com-noto-sans-display-regular-15-88-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-15-88-line-height: 24px;
  --github-com-noto-sans-display-regular-16-font-family: "NotoSans-DisplayRegular", Helvetica;
  --github-com-noto-sans-display-regular-16-font-size: 16px;
  --github-com-noto-sans-display-regular-16-font-style: normal;
  --github-com-noto-sans-display-regular-16-font-weight: 400;
  --github-com-noto-sans-display-regular-16-letter-spacing: 0px;
  --github-com-noto-sans-display-regular-16-line-height: 24px;
  --github-com-noto-sans-display-semibold-14-font-family: "NotoSans-DisplaySemiBold", Helvetica;
  --github-com-noto-sans-display-semibold-14-font-size: 14px;
  --github-com-noto-sans-display-semibold-14-font-style: normal;
  --github-com-noto-sans-display-semibold-14-font-weight: 600;
  --github-com-noto-sans-display-semibold-14-letter-spacing: 0px;
  --github-com-noto-sans-display-semibold-14-line-height: 21px;
  --githubcomblack: rgba(0, 0, 0, 1);
  --githubcombunker: rgba(22, 27, 34, 1);
  --githubcomcatskill-white: rgba(230, 237, 243, 1);
  --githubcomchartreuse-yellow-20: rgba(235, 245, 255, 0.2);
  --githubcomchartreuse-yellow-50: rgba(235, 245, 255, 0.5);
  --githubcomchateau-green: rgba(63, 185, 80, 1);
  --githubcomgeyser: rgba(208, 215, 222, 1);
  --githubcomghost: rgba(201, 209, 217, 1);
  --githubcomheliotrope: rgba(221, 125, 247, 1);
  --githubcomiron: rgba(209, 213, 218, 1);
  --githubcomkeppel: rgba(51, 179, 174, 1);
  --githubcomnero: rgba(255, 255, 255, 1);
  --githubcomnero-02: rgba(255, 255, 255, 0);
  --githubcomnero-30: rgba(255, 255, 255, 0.3);
  --githubcomnero-75: rgba(255, 255, 255, 0.75);
  --githubcomnevada: rgba(101, 109, 118, 1);
  --githubcomolive: rgba(124, 114, 255, 1);
  --githubcomoslo-gray: rgba(151, 154, 156, 1);
  --githubcomouter-space: rgba(48, 54, 61, 1);
  --githubcomoxford-blue-82: rgba(46, 55, 74, 0.82);
  --githubcompale-sky: rgba(110, 118, 129, 1);
  --githubcompersian-pink: rgba(247, 120, 186, 1);
  --githubcompolar: rgba(240, 246, 252, 1);
  --githubcompolar-10: rgba(240, 246, 252, 0.1);
  --githubcompurple-heart-linear-medium-red-violet-medium-red-violet: rgba(110, 64, 201, 1);
  --githubcomraven: rgba(125, 133, 144, 1);
  --githubcomregent-gray: rgba(149, 157, 165, 1);
  --githubcomscience-blue: rgba(9, 105, 218, 1);
  --githubcomshark: rgba(33, 38, 45, 1);
  --githubcomshuttle-gray: rgba(87, 96, 106, 1);
}
