.div-color-bg-subtle {
  align-items: center;
  background-color: var(--githubcombunker);
  display: flex;
  flex-direction: column;
  padding: 0px 320px;
  position: relative;
}

.div-color-bg-subtle .div-container-xl {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  max-width: 1280px;
  padding: 24px 16px;
  position: relative;
  width: 1280px;
}

.div-color-bg-subtle .list {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
  z-index: 1;
}

.div-color-bg-subtle .item-margin {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 8.56px 0px 8px;
  position: relative;
}

.div-color-bg-subtle .div {
  color: var(--githubcomraven);
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-color-bg-subtle .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 8px;
  position: relative;
}

.div-color-bg-subtle .item {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 2.78px 0px 0px;
  position: relative;
}

.div-color-bg-subtle .text-wrapper {
  color: #7d8590;
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.div-color-bg-subtle .item-link-what-is-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 10.36px 0px 8px;
  position: relative;
}

.div-color-bg-subtle .list-2 {
  height: 20px;
  position: relative;
  width: 228px;
  z-index: 0;
}

.div-color-bg-subtle .item-link-x-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 2px;
}

.div-color-bg-subtle .item-link-x {
  display: block;
  height: 16px;
  position: relative;
  width: 16px;
}

.div-color-bg-subtle .item-link-facebook-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 32px;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 1px;
}

.div-color-bg-subtle .img {
  display: block;
  height: 18px;
  position: relative;
  width: 18px;
}

.div-color-bg-subtle .item-link-linkedin-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 66px;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 0;
}

.div-color-bg-subtle .item-link-linkedin {
  display: block;
  height: 18px;
  position: relative;
  width: 19px;
}

.div-color-bg-subtle .item-link-youtube-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 101px;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 2px;
}

.div-color-bg-subtle .item-link-youtube {
  display: block;
  height: 16px;
  position: relative;
  width: 23px;
}

.div-color-bg-subtle .item-link-twitch-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 140px;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 1px;
}

.div-color-bg-subtle .item-link-tiktok-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 174px;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 1px;
}

.div-color-bg-subtle .link-github-mark-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 208px;
  position: absolute;
  top: 0;
}

.div-color-bg-subtle .link-github-mark {
  display: block;
  height: 20px;
  position: relative;
  width: 20px;
}
