/* Create a function to create the line with x colors or gradient */






/* Thin line vertical from transparent to purple */

.box {
  height: 257px;
  width: 3px;
}

.box .line-home-first {
  background: linear-gradient(180deg, transparent, rgb(124, 114, 255) 30%);
  border-radius: 6px;
  height: 257px;
  left: 0;
  position: fixed;
  top: 0;
  width: 3px;
}


/* Branch Line */
.git-branch {
  height: 452px;
  position: relative;
  width: 81px;
}

.git-branch .overlap-group {
  height: 452px;
  position: relative;
  width: 76px;
}

.git-branch .vector {
  height: 452px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.git-branch .group {
  height: 40px;
  left: 36px;
  position: absolute;
  top: 217px;
  width: 40px;
}


