

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* COLORS */
    --color-bg: rgb(13, 17, 23);
    --color-bg-secondary: rgb(22, 27, 34);
    --color-text: #ffffff;
    --color-text-secondary: rgb(125, 133, 144);
    --color-text-tertiary: rgb(110, 118, 129);
    --color-green:rgba(63, 185, 80, 1);
    --color-blue: rgba(51, 179, 174, 1);
    --color-pink: rgba(247, 120, 186, 1);
    --color-purple: rgba(124, 114, 255, 1);
    --color-figure: rgba(255, 255, 255, 1);
  
    --borderColor-default: rgb(125, 133, 144);
    --color-border-default: rgb(48, 54, 61);
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  
    --border-radius: 0.75rem;
    --border-radoius-md: 0.375rem;
    --border-radius-sm: 0.1875rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-campaign-git-line {
  width: 2px;
}

@media (min-width: 768px) {
  .home-campaign-git-line {
    width: 3px;
  }
  .mb-md-5 {
    margin-bottom: var(--base-size-32, 32px) !important;
  }
}