@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* COLORS */
    --color-bg: rgb(13, 17, 23);
    --color-bg-secondary: rgb(22, 27, 34);
    --color-text: #ffffff;
    --color-text-secondary: rgb(125, 133, 144);
    --color-text-tertiary: rgb(110, 118, 129);
    --color-green:rgba(63, 185, 80, 1);
    --color-blue: rgba(51, 179, 174, 1);
    --color-pink: rgba(247, 120, 186, 1);
    --color-purple: rgba(124, 114, 255, 1);
    --color-figure: rgba(255, 255, 255, 1);
  
    --borderColor-default: rgb(125, 133, 144);
    --color-border-default: rgb(48, 54, 61);
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  
    --border-radius: 0.75rem;
    --border-radoius-md: 0.375rem;
    --border-radius-sm: 0.1875rem;
  
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ================ CARDS ============= */


.vcard-container{
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.vcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-secondary);
  border: var(--borderWidth-thin, 1px) solid var(--color-border-default);
  border-radius:  var(--border-radius, 8px);
}

.vcard > img {
  border-radius: var(--border-radius);
  align-self: flex-end;
}

.vcard > p {
  padding: 2.5rem;
  color: var(--color-text-secondary);
  text-align: left;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.hcard {
  transform: perspective(700px) rotateX('0.93deg') rotateY(0.13deg);
}

/* ============= MEDIA QUERIES ============ */

@media screen and (min-width: 1012px) {
  .vcard > p {
    padding-top: var(--base-size-64, 64px); 
    padding-bottom: var(--base-size-64, 64px);
    padding-right: var(--base-size-128, 128px);
    padding-left: var(--base-size-64, 64px);
}
}
@media screen and (min-width: 768px) {
  
  .vcard-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }


}

@media sceen and (min-width: 544px) {
  .vcard > p {
    padding: 2.5rem;
  }
}

